%h2 Taking the Assessment

%p
  When you click the link below you will be presented with a series of images and you simply click 'me' or 'not me'. Once complete, the results will be displayed.

  %a(href="/assessments/slides/#{assessment.id}") Go
